* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #91c8e4;
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}
