* {
  margin: 0;
  padding: 0;
}

.App {
  /* background: radial-gradient(circle at center, #1FA0FF, #12DAFB, #A7FDCC); */
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(157.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),repeating-linear-gradient(90deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),linear-gradient(90deg, hsl(333,93%,55%),hsl(45,93%,55%),hsl(117,93%,55%),hsl(189,93%,55%),hsl(261,93%,55%));
}
